<h2>Task Details </h2>

<p>
  <strong>Name:</strong> <%= @task.name %>
</p>
<p> <strong>Completed:</strong>
  <% if @task.completed %>
  [X]
  <% else %>
  [ ]
  <% end %>
</p>

<%= link_to 'Homepage', tasks_path %>
